/* google work sans font styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* header section styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}
nav >ul {
    display: flex;
    
}
nav li {
    margin-right: 30px;
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
}
nav a{
    text-decoration: none;
    color: #424242;
}
/* banner styles */
.banner-contant{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color:#131313 ;
}
.banner-discription{
    font-size: 1rem;
    font-weight: 400;
    color: #131313;
}
.btn-primery{
    width: 11rem;
    height: 4rem;
    background-color:#FF900E ;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 2rem 0 3rem 0;
    border-radius: 8px;
    
    }
    .banner img{
        width: 100%;
        /* height: 700px */
    }
    main{
        max-width: 1440px;
        margin: 70px auto;
    }
    /* teams styles */

    .teams-container{
        display: flex;
        align-items: center;
    }
     .teams-img-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
     }
     .teams-contant{
        padding-left: 70px;
        padding-right: 70px;

     }
     .teams-title{
        font-size: 2.5rem;
        font-weight: 800;
     }
     .Quick-list{
        color: #727272;
     }
    .Features{
        color: #FF900E;
        font-weight: 800;
    }
    .teams-contant-discription{
        color: #727272;
        font-size: 1.1rem;
        font-weight: 400;
    }
    /* facts styles */

     .facts-title{
        color: #131313;
        font-size: 45px;
        font-weight: 700;
      
     }
    .facts-discription{
        color: #727272);
        font-size: 16px;
        font-weight: 400;
    }
     .facts-card-container{
        display: flex;
        justify-content:space-evenly;
     }
     .cards{
        border: 2px solid #FF900E;
        padding: 30px;
        text-align: center;
        margin-top: 30px;
        border-radius: 8px;
        

     }
      .card-satas{
        font-size: 2.8rem;
        font-weight: 600;
      }
      .card-title{
        font-size: 1.25rem;
        font-weight: 600;
      }
      /* sponspors styles */
      .sponspors-contant{
        text-align: center;
        margin: 3rem auto;
      }
      .Sponspors-title{
        font-size: 2.8rem;
        font-weight: 600;
        color: #131313;
      }

      .sponspors-logo{
        display: flex;
        justify-content: space-evenly;
        margin-top:2rem;
        gap: 40px;
        align-items: center;
      }
      .sponspors-logo img{
        width: 162px;
       
      }



     /* responsive device  */
     @media screen and (max-width:576px) {
        header{
            padding: 20px;
        }
        nav, .facts-card-container, .sponspors-logo {
            flex-direction: column;
        }
        .teams-container{
            flex-direction: column;
        }
        .teams-img-container{
            display: grid;
            grid-template-columns: repeat(1,1fr);

        }
        .teams-contant{
            border: 2px solid gold;
            margin: 20px 30px;
        }
        .facts{
            text-align: center;
        }
        
     }

     /* medium device  */

     @media screen and (min-width:576px) and (max-width:960px) {
        
        header{
            padding: 50px;
        }

        nav, .teams-container,.sponspors-logo{
            flex-direction: column;
        }
        .teams-contant{
            border: 2px solid gold;
            margin: 20px 30px;
        }
        .facts{
            text-align: center; 
     }
    }